.App{
    text-align: center;
}
nav{
    display: flex;
    background-color: rgb(31, 33, 44);
    color: white;
    align-items: stretch;
    height: 10%;
    justify-content: space-around;
}

ul li{
    display: inline-block  ;
    padding-right: 150px;
}

.link{
    color: white;
}
th{
    padding-right: 150px;
    border : 1px solid black;
    
}
table{
    border : 1px solid black;
}
